{% extends 'base.html' %}

{% block title %}絵画リスト{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>絵画リスト</h1>
    </div>
  </div>
</div>
{% for item in object_list %}
{% if item.user == request.user %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
          <a href="{% url 'image-detail' item.pk %}" class="thumbnail">
            <img src="{{ item.thumbnail.url }}"/>
          </a>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}


{% endblock content %}