{% extends 'base.html' %}

{% block title %}ToDo作成{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
       <div class="col-md-10 col-md-offset-1">
            <h1>絵画合成アプリケーション</h1>
            <p>登録した絵画の画像とカメラの映像を合成し、拡張現実として表示します。</p>
            <a class="btn btn-success btn-rounded mx-3" href="{% url 'synthesized-main' %}">合成済み画像</a>
            <a class="btn btn-info btn-rounded mx-3" href="{% url 'synthesized-main' %}">画像リスト</a>
            <a class="btn btn-warning btn-rounded mx-3" href="{% url 'synthesized-main' %}">画像登録</a>
        </div>
    </div>
</div>

{% endblock content %}