{% extends 'base.html' %}

{% block title %}Topページ{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
       <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
            <h1>絵画合成アプリケーション</h1>
            <p>登録した絵画の画像とカメラの映像を合成し、拡張現実として表示します。</p>
            <p>初めての方は合成したい絵画の画像を登録してください。</p>
            <p>登録をすでに完了している方は画像リストより画像を選択し、合成を開始してください。</p>
            <a class="btn btn-info btn-rounded mx-3" href="{% url 'image-main' %}">画像リスト</a>
            <a class="btn btn-warning btn-rounded mx-3" href="{% url 'image-create' %}">画像登録</a>
        </div>
    </div>
</div>

{% endblock content %}